<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <title>
        
        breadcrumbs-model &middot; edX UI Toolkit
        
    </title>

    <meta name="description" content="A JavaScript library for building edX front end applications.">

    <link rel="stylesheet" type="text/css" href="/public/ui-toolkit.css">

</head>


<body class="doc view-view">
<div class="doc-nav-skip sr-only">
    <a class="doc-action-skip" href="#content-main">Skip to the main content</a>
</div>

<hr class="doc-divider sr-only">

<div class="doc-wrapper-view">
    <div class="doc-wrapper-header-site">
    <header class="doc-header-site" role="banner" aria-labelledby="doc-header-site-title">
        <div class="layout-1t2t layout">
            <main class="layout-col layout-col-a">
                <h1 id="doc-header-site-title" class="hd-2 de-emphasized doc-header-site-title">
                    <a href="/">
                        <img class="doc-header-logo" src="/./static/images/edx-logo.svg"
                             alt="edX UI Toolkit home" />
                        <span>UI Toolkit</span>
                    </a>
                </h1>
            </main>
        </div>
    </header>
</div>


    <div class="doc-wrapper-content" id="content-top" tabindex="-1">
        <div class="doc-content">
            <div class="doc-wrapper-content-supplemental">
                <nav class="doc-nav doc-nav-internal" role="navigation" aria-label="edX UI Toolkit">
    <h2 class="doc-heading doc-nav-title hd-6">edX UI Toolkit</h2>
    <ul class="list-unstyled list-patterns">
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./">
    
    Introduction
    
        </a>
    
</li>

    </ul>
</nav>


<nav class="doc-nav doc-nav-internal" role="navigation" aria-label="Utilities">
    <h2 class="doc-heading doc-nav-title hd-6">Utilities</h2>
    <ul class="list-unstyled list-patterns">
    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./utilities/constants/">
    
    constants
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./utilities/global-loader/">
    
    global-loader
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./utilities/html-utils/">
    
    html-utils
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./utilities/string-utils/">
    
    string-utils
    
        </a>
    
</li>

    
    </ul>
</nav>



<nav class="doc-nav doc-nav-internal" role="navigation" aria-label="Views">
    <h2 class="doc-heading doc-nav-title hd-6">Views</h2>
    <ul class="list-unstyled list-patterns">
    
        <li class="item no-indent is-current">
    
    breadcrumbs-model
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./views/breadcrumbs/breadcrumbs-view/">
    
    breadcrumbs-view
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./views/disclosure/disclosure-view/">
    
    disclosure-view
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./views/dropdown-menu/dropdown-menu-view/">
    
    dropdown-menu-view
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./views/pagination/paging-collection/">
    
    paging-collection
    
        </a>
    
</li>

    
    </ul>
</nav>



<nav class="doc-nav doc-nav-internal" role="navigation" aria-label="Testing">
    <h2 class="doc-heading doc-nav-title hd-6">Testing</h2>
    <ul class="list-unstyled list-patterns">
    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./testing/ajax-helpers/">
    
    ajax-helpers
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./testing/spec-helpers/">
    
    spec-helpers
    
        </a>
    
</li>

    
    </ul>
</nav>


            </div>

            <hr class="doc-divider sr-only">

            <div class="doc-wrapper-content-main">
                <main class="doc-content-main" id="content-main" aria-label="Content">
                    
                        <div class="doc-links">
                            <a rel="external" href="https://github.com/edx/edx-ui-toolkit/blob/master/src/js/breadcrumbs/breadcrumbs-model.js">
                                View on Github
                            </a>
                        </div>
                    

                    <h1 id="breadcrumbsmodel">BreadcrumbsModel</h1>

<p>A Backbone model that works with the BreadcrumbsView to provide breadcrumb navigation</p>

<p>Here’s what initializing a BreadcrumbsModel looks like:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">model</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BreadcrumbsModel</span><span class="p">({</span>
    <span class="na">breadcrumbs</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="na">url</span><span class="p">:</span> <span class="s1">'/'</span><span class="p">,</span>
            <span class="na">title</span><span class="p">:</span> <span class="s1">'Item List'</span>
        <span class="p">},</span>
        <span class="p">{</span>
            <span class="na">url</span><span class="p">:</span> <span class="s1">'/details/1'</span><span class="p">,</span>
            <span class="na">title</span><span class="p">:</span> <span class="s1">'Item Details'</span>
        <span class="p">}</span>
    <span class="p">],</span>
    <span class="na">label</span><span class="p">:</span> <span class="s1">'Demo Page'</span>
<span class="p">});</span>
</code></pre>
</div>

<hr />

<hr />


                </main>
            </div>
        </div>
    </div>

    <div class="doc-wrapper-footer-site">
    <footer class="doc-footer-site">
        <div class="doc-footer-site-copyright">
            <p class="doc-copy copy-micro">
                Copyright &copy; <time datetime="2016-06-21T15:21:50-04:00">2016</time> edX.
            </p>
            <p class="doc-copy copy-micro">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            </p>
            <p class="doc-copy copy-micro">
                These works by <a xmlns:cc="http://creativecommons.org/ns#" href="http://open.edx.org" property="cc:attributionName" rel="cc:attributionURL">edX Inc.</a>
                are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
        </div>
    </footer>
</div>

</div>

<script src="/public/ui-toolkit-doc-factory.js"></script>

</body>
</html>

