// ------------------------------
// edX Pattern Library Site: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// ------------------------------
// #VARIABLES
// ------------------------------
// pl UI
$doc-tab-label-height:            rem(4);  // height of tab labels
$doc-link-color:                  palette(primary, dark);


// ------------------------------
// #HELPERS
// ------------------------------

%grid-wrapper {
    padding-right: spacing-horizontal(base);
    padding-left: spacing-horizontal(base);
}

// ------------------------------
// #BASE RESET
// ------------------------------
// basic
html, body {
    height: 100%;
    color: $text-base-color;
}

.doc {
    @extend %depth-0;
    background-color: palette(grayscale, white);
}

a {
    color: $doc-link-color;
}
