# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# SQLite3 database files:
*.db

# Logs:
*.log

# IDE
.idea/
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Linters
.eslintcache

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# UI Toolkit
*.map
.publish
.sass-cache
dist
doc/public
doc/_testing
doc/_utilities
doc/_views
node_modules
_preview_site
_site
_tmp_preview_config.yml

coverage/coverage-js/
